<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <mat-card *ngIf="item" fxFlex>
    <mat-card-header>
      <mat-card-title>
        <h3>Bienvenidos al sistema de informacion</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>En este sistema podemos albergar informacion de usuario, contactos y tambien lo que se refiere a las promociones
      </p>
    </mat-card-content>
  </mat-card>
</div>
